.main-wrap {
    width: 1480px;
    height: 1282px;
    padding: 0;
    margin: 0;
}

.header {
    font-family: ﻿AdobeInvisFont, ﻿Courier, ﻿MyriadPro-Regular;
    font-size: 80px;
    text-align: left;
}

.logo-container {
    width: 292px;
    height: 74px;
    margin-top: 61px;
    margin-left: 101px;
}

.logo {
    color: #000000;

}

.logo-alt {
    color: #4bcaff;
}

.top-container {
    width: 1280px;
    height: 69px;
    margin-left: 100px;
    font-family: "Courier", "MyriadPro-Regular", sans-serif;
    font-size: 24px;
}

.top-container-item {
    display: inline-block;
    padding: 20px;
}

.top-item-link:hover {
    color: rgb(247, 21, 21);
}

.left-menu {

}

.left-container {

}

.left-item-link {

}

.left-container-item {

}

.footer-menu {
    width: 1280px;
    height: 69px;
    margin-top: 1048px;
    margin-right: 100px;
    margin-bottom: 30px;
    margin-left: 100px;
}

.footer-container {

}

.footer-container-item {

}

.footer-item-link {

}

.footer-container-Copyright {

}
